footer {
  margin-top: 3rem;
  padding: 2rem;
  min-height: 6rem;
  color: #a2aabc;
  background: #1d2433;
}
.no-bullet {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
footer a {
  color: #a2aabc;
  box-shadow: inset 0 0px 0 #a2aabc;
  border-bottom: 1px solid #a2aabc;
  -webkit-transition: box-shadow 0.4s cubic-bezier(0.33, 0.66, 0.66, 1);
  transition: box-shadow 0.4s cubic-bezier(0.33, 0.66, 0.66, 1);
}
footer a:hover {
  color: #5ccfe6;
  border-bottom: 1px solid #d7dce2;
  box-shadow: inset 0 -3px 0 #d7dce2;
}

