  <nav>
    <ul id="top--navigation" class="topnav" aria-label="Main">
      <li class="show active">
        <a href="/">Start</a>
      </li>
      <li>
        <a href="aktuelles.html">Aktuelles</a>
      </li>
      <li>
        <a href="musikkritiken.html">Musikkritiken</a>
      </li>
      <li>
        <a href="spielekritiken.html">Spielekritiken</a>
      </li>
      <li>
        <a href="info.html">Über Mich</a>
      </li>
      <li>
        <a href="kontakt.html">Kontakt</a>
      </li>
      <li>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <svg width="14px" height="14px" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path fill="#d7dce2" d="M32 96v64h448V96H32zm0 128v64h448v-64H32zm0 128v64h448v-64H32z"/></svg>
        <strong>MENU</strong>
      </a>
    </li>
    </ul>
  </nav>