  <footer>
    <div class="wrapper raster--spalten--3">
       <div>
        <nav role="service">
          <ul class="no-bullet">
            <li><a href="#" target="_blank">Start</a></li>
            <li><a href="#" target="_blank">Kontakt</a></li>
            <li><a href="#" target="_blank">Newsletter</a></li>
            <li><a href="#" target="_blank">Impressum</a></li>
            <li><a href="#" target="_blank">Datenschutz</a></li>
          </ul>
        </nav>
      </div><!-- / spalte--1 -->

      <div>
        <nav role="social-media">
          <ul class="no-bullet">
            <li><a href="#" target="_blank">Github</a></li>
            <li><a href="#" target="_blank">Twitter</a></li>
            <li><a href="#" target="_blank">Instagram</a></li>
          </ul>
        </nav>
      </div><!-- / spalte--2 -->
      
      <div>
      </div><!-- / spalte--3 -->

    </div><!-- / .raster--spalten--3-->
  </footer>
